body {
    line-height: 1.7;
    background: #454545;
}

.left-side {
    float: left;
    width: 20%;
    position: fixed; /* 相对于浏览器固定  */
} 

.left-side > * {
    padding: 10px 20px;
}

a {
    text-decoration: none;
}

a, body {
    color: #eee;
}

.main {
    float: right;
    width: 80%;
}

.header .logo {
    border: #eee 5px solid;
    padding: 10px 20px;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 10px;
}

.left-side .link-list a,
.left-side .tag-list .item {
    display: block;
    padding: 5px; 
    color: #888;  
    -webkit-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;       
} 

.left-side .link-list a:hover,
.left-side .tag-list .item:hover {
    color: #eee;
}

.left-side .link-list a {
    font-weight: 700;
}

.main {
    color: #454545;
}

.content-list, .paper {
    margin-right: 30%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.content-list .article,
.paper {
    padding: 10px 15px;
}

.content-list .article .title,
.paper .title {
    color: #454545;
    font-size: 25px;
    font-weight: 700;
}

.content-list .article > * ,
.paper > * {
    margin: 4px 30px;
}

.content-list .article .status,
.paper .status {
    font-size: 13px;
    color: #ccc;
}
